/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.3;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Variables */

:root {
    --clr-primary-dark: #13262F;
    --clr-primary-lt: #faf9f6;
    --clr-accent: #71C839;
    --clr-accent-lt: rgba(112, 200, 57, 0.274);
    --ff-primary: 'Montserrat', sans-serif;
    --ff-accent: 'Alex Brush', cursive;

    --fw-thin: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-primary-heading: 2rem;
    --fs-accent-heading: 4rem;
    --fs-subheading: 1.4rem;
    --fs-body: 1.125rem;

    --lh-primary-heading: 1.5em;
    --lh-accent-heading: 1em;

    --size-1: 1rem;
    --size-2: 1.5rem;
    --size-3: 2rem;
    --size-4: 3rem;
    --size-5: 3.5rem;
}

@media (min-width: 900px) {
    :root {
        --fs-primary-heading: 2.5rem;
        --fs-accent-heading: 4.5rem;
        --fs-body: 1.125rem;

        --lh-primary-heading: 1.225em;
        --lh-accent-heading: 1em;
    }
}

/* Utility */

.text-primary-dark {
    color: var(--clr-primary-dark);
}

.text-primary-lt {
    color: var(--clr-primary-lt);
}

.text-accent {
    color: var(--clr-accent)
}

.bg-primary-dark {
    background-color: var(--clr-primary-dark);
}

.bg-primary-lt {
    background-color: var(--clr-primary-lt);
}

.bg-accent {
    background-color: var(--clr-accent);
}

.ff-primary {
    font-family: var(--ff-primary);
}

.ff-accent {
    font-family: var(--ff-accent);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-accent-heading {
    font-size: var(--fs-accent-heading);
}

.fs-subheading {
    font-size: var(--fs-subheading);
}

.lh-primary-heading {
    line-height: var(--lh-primary-heading);
}

.lh-accent-heading {
    line-height: var(--lh-accent-heading);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}

.fs-body {
    font-size: var(--fs-body);
}

.my-1 {
    margin-block: var(--size-1);
}

.my-2 {
    margin-block: var(--size-2);
}

.my-3 {
    margin-block: var(--size-3);
}

.my-4 {
    margin-block: var(--size-4);
}

.my-5 {
    margin-block: var(--size-5);
}

.mt-1 {
    margin-top: var(--size-1);
}

.mt-2 {
    margin-top: var(--size-2);
}

.mt-3 {
    margin-top: var(--size-3);
}

.mt-4 {
    margin-top: var(--size-4);
}

.mt-5 {
    margin-top: var(--size-5);
}

.mb-1 {
    margin-bottom: var(--size-1);
}

.mb-2 {
    margin-bottom: var(--size-2);
}

.mb-3 {
    margin-bottom: var(--size-3);
}

.mb-4 {
    margin-bottom: var(--size-4);
}

.mb-5 {
    margin-bottom: var(--size-5);
}

.py-1 {
    padding-block: var(--size-1);
}

.py-2 {
    padding-block: var(--size-2);
}

.py-3 {
    padding-block: var(--size-3);
}

.py-4 {
    padding-block: var(--size-4);
}

.py-5 {
    padding-block: var(--size-5);
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: var(--size-1);
}

.pt-2 {
    padding-top: var(--size-2);
}

.pt-3 {
    padding-top: var(--size-3);
}

.pt-4 {
    padding-top: var(--size-4);
}

.pt-5 {
    padding-top: var(--size-5);
}

.pb-1 {
    padding-bottom: var(--size-1);
}

.pb-2 {
    padding-bottom: var(--size-2);
}

.pb-3 {
    padding-bottom: var(--size-3);
}

.pb-4 {
    padding-bottom: var(--size-4);
}

.pb-5 {
    padding-bottom: var(--size-5);
}

.w-0 {
    width: 0;
}

.w-100 {
    width: 100%;
}

.accessible-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.container {
    padding-inline: 5%;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-horizontal {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.no-text-decor {
    text-decoration: none;
    color: inherit;
}

.align-top {
    align-items: top;
}


*[hide] {
    /* Custom attribute for hiding */
    display: none;
}

.fixed-position {
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 900px) {
    .hide-on-mobile {
        display: none;
    }
}

@media screen and (min-width: 450px) {
    .container {
        padding-inline: 15%;
    }
}

@media screen and (min-width: 900px) {
    .columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        align-items: center;
    }

    .widen-on-desktop {
        padding-inline: 5%;
    }
}

/* General Styling */

body {
    text-align: center;
    overflow-x: hidden;
    color: var(--clr-primary-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body)
}

a.btn {
    display: inline-block;
    text-decoration: none;
}

.btn {
    border: 2px solid var(--clr-accent);
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    padding: 0.75em 1.125em;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

section {
    padding-block: var(--size-4);
}

section h2 {
    padding-bottom: 1rem;
}

header nav {
    background-color: var(--clr-primary-dark)
}

header.bg-img h1 {
    padding-block: 0.4em 0.1em;
    margin-top: 5rem;
}

header.bg-img p {
    margin-inline: 10%;
    font-style: italic;
    margin-bottom: 5rem;
}

header .double-arrow {
    width: 5rem;
    margin-inline: auto;
    opacity: 0.8;
}

header.bg-img {
    padding-bottom: 10%;
    margin-bottom: 2rem;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media(hover: hover) and (pointer: fine) {
    .btn:hover {
        background: var(--clr-accent);
        transition: 0.3s;
    }
}

/* Main Navigation */

header>nav {
    padding-inline: 1rem;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    overflow-y: hidden;
}

.logo {
    width: 60%;
}

.mobile-nav-toggle {
    cursor: pointer;
    background: none;
    border: 0;
    padding: 0.5em;
    width: 20%;
    z-index: 2;
    flex-grow: 1;
    top: 0;
    right: 0;
}

.active-page {
    color: var(--clr-accent);
}

.main-navigation {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: left;
    background: var(--clr-primary-dark);
    padding-top: 1rem;
    font-size: 1.75rem;
}

.main-navigation>li {
    padding-left: 1rem;
}

.main-navigation>li>a {
    display: block;
}

.main-navigation>li>img {
    width: 3.5rem;
    padding-bottom: 2rem;
    opacity: 50%;
}

.main-navigation>hr {
    margin-inline: 1rem 10%;
    margin-block: 1rem;
    border: 0;
    background-color: var(--clr-primary-lt);
    opacity: 50%;
    height: 1px;
}

.red {
    background-color: rgba(255, 0, 0, 0.1);
}

@media (min-width: 900px) {
    header>nav {
        padding-inline: 3rem;
    }

    .logo {
        width: 15rem;
    }

    .main-navigation {
        display: flex;
        position: relative;
        background: 0;
        width: 50%;
        padding: 0;
        font-size: var(--fs-body);
    }

    .main-navigation>li>img,
    .main-navigation>hr,
    .mobile-nav-toggle {
        display: none;
    }

    header>nav>ul {
        display: flex;
        gap: 1rem;
        justify-content: space-around;
    }
    
    nav li:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
}

/* Footer Navigation */

footer>nav>ul {
    padding-inline: 1rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}

footer>nav a {
    display: block;
    padding-block: 1rem;
    padding-inline: 0.3rem;
}

.footer-icons {
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-icons li:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.footer-icons a {
    display: block;
    width: 3rem;
    padding-inline: 0.5rem;
    padding-block: 1rem;
}

footer>p,
footer>a {
    font-size: 0.7rem;
    line-height: 0.2rem;
    opacity: 50%;
    padding-block: 1em;
}

footer {
    padding-bottom: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}

footer>hr {
    border: 0;
    background-color: var(--clr-primary-lt);
    opacity: 50%;
    height: 1px;
}

@media (min-width: 900px) {
    .footer-icons {
        width: 30%;
    }

    footer>nav>ul {
        font-size: var(--fs-body)
    }
}

/* Home Page */

.hero {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('/assets/homepage/pergola.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
}

.hero nav {
    background: none;
    /* background:rgba(0, 0, 0, 0.411) */
}

.hero>div {
    flex-grow: 1;
}

.photo-lineup figure {
    padding-block: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.photo-lineup img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    object-position: 20% 20%;
}

.photo-lineup img+p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--fs-subheading);
    display: none;
}

.photo-lineup figure:hover img {
    opacity: 0.4;
    transition: 0.5s;
}

.photo-lineup figure:hover p {
    display: block;
    transition: 0.5s;
}

.home-process {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('/assets/homepage/tree-seedlings.jpg');
    background-size: cover;
    min-height: 60vh;
}

.home-process div:nth-child(2) {
    width: 80%;
    margin-inline: auto;
}

.home-cta {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
        url('/assets/homepage/markup.png');
    background-size: cover;
    min-height: 60vh;
}

@media (min-width: 900px) {
    .hero h1 {
        padding-inline: 15%;
    }

    .home-process>div>img {
        width: 60%;
        margin-inline: auto;
    }

    .photo-lineup {
        padding-inline: 5%;
        display: flex;
        justify-content: space-around;
    }

    .photo-lineup>figure {
        width: 19%;
    }

    .photo-lineup img {
        height: 55vh;
        object-position: center;
    }

    .home-cta {
        background: none;
        background-color: var(--clr-primary-lt);
    }
}

/* Contact Page */

.btn-set {
    display: flex;
    justify-content: space-around;
}

.btn-set button {
    width: 100%;
    margin-inline: 1rem;
}

.quote-form>fieldset {
    display: none;
}

.quote-form>fieldset.active {
    display: block;
}

.quote-form>fieldset,
fieldset>fieldset {
    font-family: var(--ff-primary);
    text-align: left;
    border: none;
    width: 95%;
    margin-inline: auto;
    margin-block: 0.5rem;
}

.quote-form>fieldset>legend {
    float: left;
    width: 100%;
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-subheading);
    color: var(--clr-accent);
    margin-bottom: 1rem;
    text-align: left;
}

input,
textarea {
    margin-block: 0.5em;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    margin-inline: auto;
    border: 0;
    border-bottom: 1px solid var(--clr-primary-dark);
    line-height: calc(var(--fs-body) *2);
}

.quote-form input[type="number"] {
    appearance: textfield;
}

.quote-form input[type="text"]:focus,
.quote-form input[type="number"]:focus,
.quote-form input[type="email"]:focus,
.quote-form input[type="tel"]:focus,
.quote-form textarea:focus {
    outline: none;
    border-color: var(--clr-accent);
}

.quote-form input[type="text"]:focus::placeholder,
.quote-form input[type="number"]:focus::placeholder,
.quote-form input[type="email"]:focus::placeholder,
.quote-form input[type="tel"]:focus::placeholder,
.quote-form textarea:focus::placeholder {
    color: var(--clr-accent);
}

.quote-form .options-group {
    display: block;
    width: 100%;
}


label.option-list-item {
    display: block;
    width: 100%;
}

.options-group input {
    display: inline-block;
    transform: scale(1.5);
    margin: 0.5rem;
    accent-color: var(--clr-accent);
}

.quote-form textarea {
    resize: none;
    width: 100%;
    border: 1px solid var(--clr-primary-dark);
    padding: 0.5rem;
    height: calc(var(--fs-body)*6);
}

select.options-group,
.quote-form input[name="date"] {
    padding: 0.4em;
    margin-bottom: 1rem;
    border: 1px solid var(--clr-primary-dark);
    height: 3em;
}

label.form-error {
    color: red;
    font-size: 0.75rem;
}

input.form-error {
    border-bottom: solid 1px red;
    margin-bottom: 0;
}

input.form-error#date {
    border: solid 1px red;
    margin-bottom: 0;
}

input.form-error::placeholder {
    color: red;
}

select.form-error {
    margin-bottom: 0;
    border: 1px solid red;
    color: red;
}

textarea.form-error {
    border: 1px solid red;
    margin-bottom: 0;
}

.contact-grid {
    margin-top: 3rem;
}

.contact-info {
    margin-block: 3rem;
    display: grid;
    grid-template-columns: 2.5rem max-content;
    align-items: start;
    row-gap: 1rem;
    text-align: left;
}

.contact-info img {
    opacity: 45%;
    width: 1.3rem;
    /* display: inline; */
}



@media (min-width: 900px) {
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 2rem;
        margin-block: 3rem;
    }

    .contact-grid form {
        order: 0;
    }

    .contact-info {
        margin-top: 1rem;
        margin-left: 20%;
    }

}

/* Services Page */

#services-page header {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.85) 50%,
            rgb(255, 255, 255)),
        url('/assets/process/backyard-patio.jpg');
    background-position: center;
    background-size: cover;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
}

.services-wrapper h2 {
    font-weight: var(--fw-bold);
    font-size: calc(var(--fs-primary-heading)*0.8);
    padding-block: 0.5rem;
}


.services-wrapper a {
    display: inline-block;
    padding: 1rem;
    margin-block: 0.5rem;
    width: 100%;
}

.services-wrapper li {
    border: 1px solid transparent;
}

.services-wrapper li:hover {
    border: 1px solid var(--clr-accent);
    transition: 0.5s;
}

.services-wrapper img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 900px) {

    .services-wrapper {
        margin-inline: auto;
    }

    .services-wrapper li {
        width: 25%;
        margin-inline: 2rem;
    }

    .services-wrapper li::after {
        content: "";
        flex: auto;
    }

    .services-wrapper h2 {
        font-size: var(--fs-subheading);
    }
}

/* Process Page */
#process-page header {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.85) 50%,
            rgb(255, 255, 255)),
        url("/assets/process/backyard-patio.jpg");
    background-position: center;
    background-size: cover;
}

ol.processes {
    counter-reset: process-step;
    position: relative;
}

ol.processes>li::before {
    counter-increment: process-step;
    content: counter(process-step);
    font-family: var(--ff-accent);
    font-size: var(--fs-accent-heading);
    color: var(--clr-accent);
    line-height: 0.8em;
}

ol.processes>li:nth-child(1) {
    background-image: url("/assets/process/conversation.svg");
}

ol.processes>li:nth-child(2) {
    background-image: url("/assets/process/planning.svg");
}

ol.processes>li:nth-child(3) {
    background-image: url("/assets/process/brickwall.svg");
}

ol.processes>li:nth-child(4) {
    background-image: url("/assets/process/cocktail.svg");
}

ol.processes>li {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-block: 1rem;
    margin-block: 5em;
}

@media (min-width: 900px) {

    .process-header {
        padding-block: 5%;
    }

    ol.processes>li {
        width: 80%;
        margin-inline: auto;
        margin-block: 4em;
    }

    ol.processes>li:nth-child(-n+2) {
        margin-top: 0;
    }

    ol.processes>li>h2 {
        font-size: calc(var(--fs-primary-heading)*0.6);
        padding-block: 0.5em;
    }

    ol.processes>li::before {
        font-size: calc(var(--fs-accent-heading)*0.6);
    }

    ol.processes>li:nth-child(even)>* {
        animation-delay: 0.5s
    }
}

/* Service Pages */

.service-page h1 {
    font-size: calc(var(--fs-accent-heading)*0.8);
    margin-top: 0.5em;
}

.service-page h2 {
    font-size: var(--fs-subheading);
    margin-block: 1em 0.4em;
    font-style: italic;
    text-align: left;
}

.service-page .columns p {
    font-weight: var(--fw-thin);
    text-align: left;
}

.arrow-list {
    margin-top: 1em;
}

.arrow-list li {
    list-style-position: inside;
    margin-block: 0.3em;
    text-align: left;
    font-weight: var(--fw-thin);
}

.arrow-list li::marker {
    content: "Ëƒ ";
    color: var(--clr-accent);
}

.service-page .btn {
    margin-block: 3em;
    margin-inline: auto;
}

.service-page .columns>div {
    margin-block: 3em;
}

.service-page .columns>div:nth-child(1) {
    margin-top: 0em;
}

.service-page .columns>img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-block: 1rem;
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 900px) {
    .service-page h1 {
        font-size: 5rem;
        margin-block: 0.5em;
    }

    .service-page .columns {
        row-gap: 2em;
        column-gap: 10%;
    }

    .service-page .columns>* {
        order: var(--desktop-order);
    }

    .service-page .columns>div {
        margin-inline: 1em;
    }

    .service-page .columns>img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
    }
}

/* Animations */

@keyframes slide-in {
    to {
        left: 0;
    }
}

.slide-on-scroll-left {
    position: relative;
    left: -100vw;
}

.slide-on-scroll-right {
    position: relative;
    left: 100vw;
}

.slide-on-scroll-activate {
    animation: slide-in 1s ease-out both;
}

.photo-lineup figure {
    animation-delay: calc(var(--order)*0.2s);
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

.fade-on-scroll {
    opacity: 0;
}

.fade-on-scroll-activate {
    animation: fade-in 1.5s ease-in both;
}

@media (min-width: 900px) {
    @keyframes fade-in-to-75 {
        to {
            opacity: 0.75;
        }
    }

    .home-process svg {
        width: 75%;
    }

    .home-process svg.fade-on-scroll-activate g {
        animation: fade-in-to-75 1s ease-in both;
        animation-delay: calc(var(--order)*0.4s);
    }

    .photo-lineup>figure {
        animation-delay: calc(var(--order)*0.15s);
    }

    .services-wrapper li {
        animation-delay: calc(var(--order)*0.3s);
    }
}